.header-bar {
    max-width: 1060px; 
    height: 55px;
    background: #1565AB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.logo {
    display: inline;
    position: relative;
    top: 10px;
    border: 1px solid #1565AB;
    padding: 20px 10px;
    background: #1565AB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.5);

}

.logo > h2{
    color: white;
    display: inline;
}